
<%- include("header"); %>

    <div class="card-container">
        <div class="title-day"><h1><%= listName %></h1></div>
        <div class="list-items">
            
            <ul>
                <% listItems.forEach(function(element) { %>
                    <form action="/delete" method="POST">
                        <input class="checkbox" type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                        <li class="item"><%= element.name %></li>
                        <input type="hidden" name="listName" value="<%= listName %>">
                    </form>
                <% }) %>
            </ul>

            <form action="/" method="POST">
                <input class="enterItem"  type="text" name="item" placeholder="Enter item" autocomplete="off" focus="off">
                <button type="submit" name="list" value="<%= listName %>">Add</button>
            </form>
        </div>

        
    </div>

    <%- include("footer"); %>