
<%- include("header"); %>

    <div class="card-container">
        <div class="title-day"><h1><%= listName %></h1></div>
        <div class="list-items">
            
            <ul>
                <% for (var i = 0; i < listItems.length; i++) { %>
                    <li><%= listItems[i] %></li>
                <% } %>
            </ul>

            <form action="/" method="POST">
                <input type="text" name="item" placeholder="Enter item" autocomplete="off" focus="off">
                <button type="submit" name="list" value="<%= listName %>">Add</button>
            </form>
        </div>

        
    </div>

    <%- include("footer"); %>